@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;600;800&display=swap");

:root {
	--g1: rgb(98, 0, 234);
	--g2: rgb(236, 64, 122);
}

body {
	color: #f4f4f4;
	user-select: none;
	animation: background-pan 10s linear infinite;
	background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
	background-size: 200%;
	height: 100vh;
	overflow-x: hidden;
	margin: 0px;
}

body,
body * {
	font-family: "Sofia Sans", sans-serif !important;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

@keyframes background-pan {
	from {
		background-position: 0% center;
	}

	to {
		background-position: -200% center;
	}
}