@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;500;600;800&display=swap");

body {
	background-color: #414141;
	color: #f4f4f4;
	user-select: none;
}

body,
body * {
	font-family: "Sofia Sans", sans-serif !important;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}
